#block-views-banner-block
{
	position: relative;
}
#block-views-events-block
{
	padding:50px 0px;
}
#header 
{
	height: 179px;
	
	#logo
	{
		float: none;
		text-align: center;
	}
	.region-header
	{
		float: none;
		width: 360px;
		margin: 0 auto;
	}
}
